<section class="p-3 flex flex-col">
    <div class="space-y-7 pb-4 flex flex-col items-center md:px-6">
        <p class="text-white text-center md:text-xl">
            I'm <span>Jesus Montiel </span>, fullstack developer focused on the
            front-end development
        </p>
        <div class="z-10">
            <img
                src="/public/assets/myAvatar.png"
                alt="me"
                class="grayscale blur-sm"
            />
        </div>
        <div class="flex justify-center lg:hidden">
            <a href="https://www.linkedin.com/in/jesusmontiel11/">
                <button class="border-yellow border-2 p-2 md:text-xl">
                    Contact me
                </button>
            </a>
        </div>
    </div>
    <div
        class="hidden lg:flex justify-center md:flex-col items-center gap-4 pt-8"
    >
        <p class="text-lg font-bold">Contact me</p>
        <ul
            class="flex flex-row gap-2 list-none justify-center border-b-2 p-2 border-yellow"
        >
            <li><img src="/public/assets/facebook.png" alt="facebook" /></li>
            <li><img src="/public/assets/twitter.png" alt="twitter" /></li>
            <li><img src="/public/assets/github.png" alt="github" /></li>
            <li><img src="/public/assets/linkedin.png" alt="linkedin" /></li>
            <li><img src="/public/assets/whatsapp.png" alt="whatsapp" /></li>
        </ul>
    </div>
</section>

<style>
    section {
        /* background-image: url('/assets/bg.jpg'); */
        background-size: cover;
        background-position: center;
    }
    span {
        font-weight: 700;
        color: #ffc86b;
        font-size: 20px;
    }
    @media screen and (min-width: 768px) {
        span {
            font-size: 26px;
        }
    }
</style>
