---
import ProjectCard from './ProjectCard.astro'
import { getCollection, getEntry } from 'astro:content'
---

<section class="flex flex-col items-center gap-6">
    <div>
        <h2 class="font-bold">My Projects</h2>
    </div>
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
</section>
