---
interface Props {
    title: string
    description: string
    stack?: string[]
}

const { title, description, stack = [] } = Astro.props
---

<article
    class="border-yellow border p-3 shadow-2xl text-white rounded-md hover:scale-105 hover:shadow-4xl transition-all"
>
    <p class="text-center font-semibold pb-3">{title}</p>
    <div class="flex justify-center">
        <img
            src="/public/assets/myAvatar.png"
            alt="me"
            class="w-[100px] pb-3"
        />
    </div>
    <p class="font-light text-[12px] pb-4">
        {description}
    </p>
    <div>
        <p class="font-bold text-[12px] pb-1">Created with</p>
        <div class="flex flex-row gap-4">
            <img
                src="/public/assets/myAvatar.png"
                alt="react"
                class="w-[30px] h-[30px]"
            />
            <img
                src="/public/assets/myAvatar.png"
                alt="react"
                class="w-[30px] h-[30px]"
            />
        </div>
    </div>
</article>
