---
import Hero from '../components/hero/Hero.astro'
import Projects from '../components/my-project/Projects.astro'
import Stack from '../components/Stack.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Know me!">
    <main class="flex flex-col gap-6">
        <Hero />
        <Projects />
        <Stack />

        <div class="mx-auto">
            <a href="/src/data/cvg-eng.pdf " download="cv">
                <button class="border-yellow border-2 p-2">
                    Download CV
                </button>
            </a>
        </div>
    </main>
</Layout>
