---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/hero/Hero.astro'
import Projects from '../components/my-project/Projects.astro'
---

<Layout title="Know me!">
    <main class="flex flex-col gap-6">
        <Hero />
        <Projects />
    </main>
</Layout>
