<section
    class="w-full bg-yellow text-black h-[50px] mt-3 my-auto items-center align-middle justify-center flex"
>
    <p class="text-center">
        &copy; {new Date().getFullYear()} Jesus Montiel
    </p>
</section>
