<div class="py-2 h-[60px] text-white px-3">
    <nav class="flex flex-row justify-between list-none text-[12px] font-bold">
        <li class="font-extrabold text-yellow text-[30px]">T</li>
        <div class="flex flex-row gap-2">
            <img src="/public/assets/menu.svg" alt="menu" class="w-[30px]" />
        </div>
    </nav>
</div>

<!-- <div class="py-2 h-[60px] text-white">
    <nav class="flex flex-row justify-between list-none text-[12px] font-bold">
        <li class="font-extrabold text-yellow">T</li>
        <div class="flex flex-row gap-2">
            <li>About</li>
            <li>Portfolio</li>
            <li>contact</li>
        </div>
        <li>Check my blog</li>
    </nav>
</div> -->
